@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.leftSideMenu {
    background-color: #1E2772;
    height: 100vh;
    font-family: 'Mulish', sans-serif;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);

}

.menuTitle {
    margin-left: 15px;
    margin-top: 41px;
    margin-bottom: 60px;
    width: 255px;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
    color: #A4A6B3; 
}

.menuTitle h1 {
    padding-top: 10px;
}

.menu {
    font-size: 16px;
    font-weight: 400;
}

.menuList {
    display: flex;
    align-items: center;
    height: 56px;
    width: 256px;
    font-size: 12px;
    font-weight: lighter;
    color: #DDE2FF;
    margin-left: 10px;
}

.menuList h3 {
    cursor: pointer;
}

.menuListEnd {
    margin-top: 70px;
    display: flex;
    align-items: center;
    height: 56px;
    width: 256px;
    font-size: 14px;
    font-weight: lighter;
    color: #DDE2FF;
    margin-left: 10px;
}

.menuListEnd h3 {
    cursor: pointer;
}

svg {
    margin-right: 10px;
}