@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.pagebackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.ResetModalBackGround {   
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 25px;
    font-family: Poppins;
}

.ModalInfo {
    margin-left: 50px;
    margin-top: 80px;
}

.ModalInfo h1 {
    margin-bottom: 10px;
}

.ModalInfo p {
    margin-bottom: 40px;
}

.resetInput {
    width: 370px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    text-indent: 10px;
    margin-bottom: 25px;
}

.resetButton {
    width: 370px;
    height: 45px;
    border-radius: 25px;
    background: #1E2772;
    color: white;
    margin-bottom: 10px;
}

.cancelButton {
    width: 370px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #1E2772;
    background: white;
    color: #1E2772;
}